# Database Connection
DATABASE_URL=postgresql://user:password@localhost:5432/haunter
DATABASE_URL_UNPOOLED=postgresql://user:password@localhost:5432/haunter

# Better Auth Secret
BETTER_AUTH_SECRET=your_auth_secret_key_here
